html {
   
    } 

body{
    background-color: white;

}

.navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
}

a{
    justify-content: end;
}

.card-one{
    position: fixed;
    top: 150px;
    left: 100px;
  
}

.card-two{
    position: fixed;
    top: 150px;
    left: 420px;
  
}

.card-three{
    position: fixed;
    top: 150px;
    left: 735px;
  
}

.card-four{
    position: fixed;
    top: 150px;
    left: 1050px;
  
}

h5{
    font-weight: bold;
}

